

*{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter{
height: 15px;
}
.buttons{
    flex-direction: row;

}
.buttons button{
    color: white;
    height: 28px;
margin-left: 2px;
margin-right: 2px;
border-radius: 5px;
border: 0px solid black;
}